[submodule "ffcore"]
	path = ffcore
	url = https://github.com/spadapet/ffcore.git
	branch = master
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/spadapet/entt.git
	branch = master
[submodule "vendor/box2d"]
	path = vendor/box2d
	url = https://github.com/erincatto/box2d.git
	branch = master
